target
*.class
*.log
*.jar

# IntelliJ IDEA specific generated resources
*.iml
.idea

# Eclipse specific generated resources
.classpath
.project
.settings

# VSCode specific generated resources
.vscode

# SAM CLI config files
*.toml